@import "variables";

.modetailsContainer {
    display: grid;
    grid-template-areas:
        "poster title     title"
        "poster genre     ."
        "poster prodComp  ."
        "poster Overview  Overview";
    grid-template-columns: minmax(400px, auto) 1fr 1fr;
    backdrop-filter: brightness(0.8);
    background-image: linear-gradient(to right, rgb(0, 25, 43) 0%, rgba(255, 255, 255, 0) 100%);
}

.poster {
    width: 400px;
    grid-area: poster;
    margin-right: 25px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin: 15px 0 0 0;
    grid-area: title;
    color: map-get($text, color);
}

.movieOverview {
    grid-area: Overview;

    & > p {
        font-size: 17px;
        color: map-get($text, color);
    }

    & > h3 {
        font-weight: bold;
        font-size: 19px;
        color: map-get($text, color);
    }
}

.genreList {
    grid-area: genre;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
}

.genre {
    background-color: #208e92;
    border: 1px solid #d7d7d7;
    color: #000;
    padding: 4px 10px;
    border-radius: 4px;

    span {
        color: map-get($text, color);
    }
}

.prodComp {
    height: fit-content;
    display: flex;
    flex-direction: row;
    width: fit-content;
    grid-area: prodComp;
    flex-wrap: wrap;

    & > div {
        display: flex;
        flex-direction: column;
        margin-right: 15px;

        & > img {
            width: 92px;
            height: 29px;
            background-color: #fff;
        }

        & > P {
            color: map-get($text, color);
            max-width: 92px;
        }
    }

    & > h3 {
        font-weight: bold;
        font-size: 19px;
        width: 100%;
        color: map-get($text, color);
    }
}

.backgroundPoster {
    position: absolute;
    right: 0;
    z-index: -1;
    width: calc(100% - 400px);
    height: 600px;
}

::ng-deep {
    body {
        background: #00192b;
    }
}

.similarMovies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    gap: 30px;
    margin-top: 30px;
    padding: 0 15px;

    .movieBox {
        & > p {
            color: map-get($text, color);
        }

        & > p:hover {
            color: $text-hover;
        }
    }
}
