<img src={{movieDetails.detailedImgUrl}} alt="no image" class="backgroundPoster">
<div class="modetailsContainer">
    <h1 class="title">{{movieDetails.title}} ({{movieDetails.releaseYear}})</h1>

    <div class="movieOverview">
        <h3> Overview</h3>
        <p>{{movieDetails.overview}}</p>
    </div>
    <img src={{movieDetails.posterPath}} alt="no image" class="poster">
    <div class="genreList">
        <div *ngFor="let genre of movieDetails.genres" class="genre">
            <span>{{genre.name}}</span>
        </div>
    </div>

    <div class="prodComp">
        <h3>Production Companies</h3>
        <div *ngFor="let pcomp of movieDetails.productionCompanies">
            <img src={{pcomp.logoPath}} alt="no image">
            <p>{{pcomp.name}}</p>
        </div>
    </div>
</div>

<div class="similarMovies">
    <div *ngFor="let movie of similarMovies" class="movieBox">
        <img src={{movie.imgUrl}} alt="no img">
        <p>{{movie.title}}</p>
        <div class="averageVote">
            <p>{{movie.voteAverage}}</p>
        </div>
        <div class="movieInfo">
            <div class="info" (click)="showMovieDetails(movie)">
                <span class="iconBackground"></span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                </svg>
            </div>
            <div class="trailer">
                <span class="iconBackground"></span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                </svg>
            </div>
        </div>

        <button class="movoToDetails" (click)="movoToDetails(movie.id)">View Details</button>
    </div>
</div>