@mixin movieDetailsIcon {
    fill: map-get($text, color);
}

@mixin iconBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.1s, height 0.1s;
    background: #fff;
    opacity: 0;
    height: 0;
    width: 0;
}
